/* JobCard.css */

.job-card {
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px;
  height: 600px;
  padding: 16px;
  margin: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
}

.job-card.left {
  transform: translateX(-100%);
}

.job-card.right {
  transform: translateX(100%);
}

.job-card img.company-logo {
  width: 100px; /* Fixed width */
  height: 100px; /* Fixed height */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  border-radius: 8px;
  margin-bottom: 12px;
}

.job-card h3 {
  margin-bottom: 8px;
}

.property {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.property-name {
  font-weight: bold;
  color: #555;
  flex-basis: 150px;
}

.property-value {
  flex-grow: 1;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.actions button {
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.actions button.left {
  background-color: #ff6666;
  color: #fff;
}

.actions button.right {
  background-color: #4caf50;
  color: #fff;
}

.actions button:hover {
  background-color: #ddd;
}
